.item {
  border: 2px solid #fff;
  width: 220px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.name {
  padding: 10px;
  line-height: 1.5;
}
