.wrapper {
  border: 1px solid #000;
  display: flex;
  gap: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.link {
  padding: 10px 20px;
  background-color: #dcdcdc;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
}
.linkActive {
  background-color: #454545;
  color: #fff;
}
