.wrapper {
  border: 2px solid #ddd;
  background-color: #ddd;
  border-radius: 8px;
  display: flex;
}
.img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: center center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #fff;
}
.content {
  padding: 20px;
}
.header {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
