.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  backdrop-filter: blur(3px);
}
.item {
  width: 800px;
  margin: auto;
  border: 2px solid #fff;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}
.img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: center center;
  flex-shrink: 0;
  background-color: #fff;
}
.content {
  padding: 20px;
}
.header {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
